API_TOKEN = 'token_telegram'
SQLALCHEMY_URI = 'postgresql+asyncpg://postgres:postgres@localhost:5432/postgres'
URL = 'url for staging'
# webhost settings
WEBHOOK_HOST=https://bot.picpack.io
WEBHOOK_PATH=''
# webserver settings
WEBAPP_HOST=telegram_bot 
WEBAPP_PORT=5011