API_TOKEN=YOUR_TOKEN
# locale 
# SQLALCHEMY_URI=postgresql+asyncpg://postgres@localhost:5432/postgres
# docker 
SQLALCHEMY_URI=postgresql+asyncpg://postgres:postgres@db:5432/postgres
#
# Migration revision
CURRENT_MIGRATION=c2c15c19c51d

# Api URL
URL=backend_app_prod:5000
URL=https://app-staging.picpack.io:443

# host settings
WEBHOOK_HOST=https://bot.picpack.io
WEBHOOK_PATH=''

# webserver settings
WEBAPP_HOST=telegram_bot 
WEBAPP_PORT=5011

YADISK_AUTH_URL=https://oauth.yandex.ru/authorize?response_type=token&client_id=d8ec1b516f314dc9a78e5fb74c484191